* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3aafa9;
  font-family: 'Poppins', sans-serif;
  overflow: visible;
}
.navchild {
  display: flex;
  flex-direction: row;
  margin: 25px 25px;
}
.navchild a {
  text-decoration: none;
  margin-right: 10px;
  color: #feffff;
  padding: 5px 20px;
  border: 1px hidden ;
  font-size: 20px;
  transition: 1s ease;
  animation-name: pop;
  animation-duration: 1s;
}
.navchild a:hover {
  font-size: 25px;
  background-color: #2b7a78;
  transition: 1s ease;
}
.home {
  float: left;
  margin: 25px 25px;
  display: block;
}
.home a {
  text-decoration: none;
  color: #feffff;
  padding: 5px 20px;
  border: 1px hidden #feffff;
  font-size: 20px;
  transition: 1s ease;
  animation-name: pop;
  animation-duration: 1s;
}
.home a:hover {
    font-size: 25px;
    background-color: #2b7a78;
    transition: 1s ease;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.hidenav div {
  width: 25px;
  height: 3px;
  background-color: #feffff;
  margin: 5px;
  transition: all 0.3s ease;
}
.hidenav {
  display: none;
  cursor: pointer;
}
.spcl {
  display: none;
}
.active {
  background-color: #17252a;
  border-radius: 30px;
  transition: 1s ease;
}
.topic {
  flex: 1;
  margin-left: 5%;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 5px;
  transition: 1s ease;
}
.topic {
  display: none;
}
.text {
  font-size: 2em;
  padding:0px 5%;
  transition: 1s ease;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  animation-name: textpop;
  animation-duration: 1s;
}
.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #17252a;
  color: #feffff;
  font-size: 20px;
  justify-content: space-around;
  animation-name: pop;
  animation-duration: 1s;
}
.form label {
  margin: 1em;
}
.form input {
  margin: 1em;
  padding: 12px 20px;
}
.form button {
  margin: 2em;
}
.form button:hover {
  cursor: pointer;
}
.form textarea {
  padding: 12px 20px;
}
@keyframes pop {
  0% {font-size: 0px;}
  100% {font-size: 20px;}
}
@keyframes textpop {
  0% {font-size: 0px; width: 0px}
  100% {font-size: 2em; width: 100%;}
}
@media screen and (max-width:728px) {
  body {
    overflow-x: hidden;
  }
  .topic {
    display: block;
  }
  .spcl {
    display: block;
  }
  .navbar {
    justify-content: flex-end;
  }
  .hidenav {
    display: block;
    margin-right: 2.5em;
  }
  .home {
    display: none;
  }
  .navchild {
    position: absolute;
    right: 0px;
    height: 900vh;
    top: 10vh;
    background-color: #17252a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(105%);
    transition: transform 0.5s ease-in;
  }
  .navchild a {
    margin-top: 50px;
  }
.nav-active {
  transform: translateX(5%);
}
  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(45deg )translate(-5px,-6px);
  }
}
