* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3aafa9;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
.dp img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: block;
  margin-left: 60%;
  margin-right: 40%;
  transform: translateY(-70vh);
  transition: all 1s ease;
  animation-name: imagepop;
  animation-duration: 2s;
}
.dp img:hover {
  height: 350px;
  width: 350px;
}
.navchild {
  display: flex;
  flex-direction: row;
  margin: 25px 25px;
}
.navchild a {
  text-decoration: none;
  margin-right: 10px;
  color: #feffff;
  padding: 5px 20px;
  border: 1px hidden ;
  font-size: 20px;
  transition: 1s ease;
  animation-name: pop;
  animation-duration: 1s;
}
.navchild a:hover {
  font-size: 25px;
  background-color: #2b7a78;
  transition: 1s ease;
}
.home {
  float: left;
  margin: 25px 25px;
  display: block;
}
.home a {
  text-decoration: none;
  color: #feffff;
  padding: 5px 20px;
  border: 1px hidden #feffff;
  font-size: 20px;
  transition: 1s ease;
  animation-name: pop;
  animation-duration: 1s;
}
.home a:hover {
    font-size: 25px;
    background-color: #2b7a78;
    transition: 1s ease;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height:80vh;
}


.title h1 {
  color: #feffff;
  font-size: 5em;
  height: auto;
  width: 70%;
  padding-left: 5px;
  background-color: #17252a;
  animation-name: namepop;
  animation-duration: 1s;
}
.title h1 span {
  transition: 1s ease;
}
.title h1 span:hover {
  font-size: 50px;
}
.title p {
  color: #17252a;
  font-size: 1em;
  width: 30%;
  height: auto;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.hidenav div {
  width: 25px;
  height: 3px;
  background-color: #feffff;
  margin: 5px;
  transition: all 0.3s ease;
}
.hidenav {
  display: none;
  cursor: pointer;
}
.spcl {
  display: none;
}
.active {
  background-color: #17252a;
  border-radius: 30px;
  transition: 1s ease;
}
.topic {
  flex: 1;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 5px;
  transition: 1s ease;
}
.topic {
  display: none;
}
.text {
  font-size: 2em;
  padding-left: 5%;
  transition: 1s ease;
}

@keyframes pop {
  0% {font-size: 0px;}
  100% {font-size: 20px;}
}
@keyframes namepop {
  0% {font-size: 0px; width: 0px}
  100% {font-size: 5em; width: 70%;}
}
@keyframes imagepop {
  0% {height: 0px; width: 0px;}
  100% {height: 400px; width: 400px;}
}
@media screen and (max-width:1100px) {
  .title h1 {
    font-size: 3.5em;
    padding-top: 30px;
  }
}
@media screen and (max-width:728px){
  body {
    overflow-x: hidden;
  }
  .topic {
    display: block;
  }
  .dp img {
  height: 200px;
  width: 200px;
  transform: translate(-41vh,-40vh);
  transition: all 1s ease;
  animation-name: image2;
  animation-duration: 1s;
  }
  @keyframes image2 {
    0% {height: 0px; width: 0px;}
    100% {height: 200px; width: 200px;}
  }
  .spcl {
    display: block;
  }
  .navbar {
    justify-content: flex-end;
  }
  .hidenav {
    display: block;
    margin-right: 20px;
    position: fixed;
  }
  .home {
    display: none;
  }
  .navchild {
    position: fixed;
    right: 0px;
    height: 90vh;
    top: 15%;
    background-color: #17252a;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(110%);
    transition: transform 0.5s ease-in;
  }
  .navchild a {
    margin-top: 50px;
  }
.nav-active {
  transform: translateX(5%);
}
  .toggle .l1 {
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(45deg )translate(-5px,-6px);
  }
  .hideimg {
    width: 0px;
    height: 0px;
  }
}
